/* styles.css */

/* Product card container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(25% - 20px); /* Adjust width to fit three cards in a row with spacing */
  border: 1px solid #ddd; /* Light border */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

/* Product card hover effect */
.card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Shadow increases on hover */
}

/* Product image */
.card-img-top {
  width: 300px;
  height: 200px; /* Set image height as desired */
  object-fit: cover;
  border-bottom: 1px solid #ddd; /* Add a bottom border to separate image from content */
}

/* Product details container */
.card-body {
  padding: 20px;
}

/* Product title */
.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

/* Product price */
.card-text {
  font-size: 16px;
  color: #007bff; /* Blue color for price */
  margin-bottom: 10px;
}

/* Add to cart button */
.btn {
  display: inline-block;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
